@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-oswald: var(--font-oswald);
  --font-montserrat: var(--font-montserrat);
  --font-cairo: var(--font-cairo);
}

html {
  scroll-behavior: smooth;
}

body {
  background: #03070b;
  color: white;
  font-family: var(--font-cairo), sans-serif;
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: #EEB41E;
  color: #000;
}